<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/media/pictures/my_computer.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        My site
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('article') }}">Блог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("client") }}">Клиенты</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Трейтяя</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">В разработке</a>
        </li>
    </ul>
</nav>